@model IEnumerable<Tuan4_1911062004_VoMinhHieu.Models.Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ Hàng</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.tensach)</th>
        <th>@Html.DisplayNameFor(model => model.hinh) </th>
        <th>@Html.DisplayNameFor(model => model.giaban) </th>
        <th>@Html.DisplayNameFor(model => model.iSoluong) </th>
        <th>@Html.DisplayNameFor(model => model.dThanhtien)</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.tensach)</td>
            <td> <img src="@item.hinh" width="180" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.masach }))
            {
                <td> @String.Format("{0:0,0}", item.giaban) VNĐ </td>
                <td> <input type="number" min="1" name="txtSoLg" value="@item.iSoluong" /> </td>
                <td> @Html.DisplayFor(modelItem => item.dThanhtien)</td>
                <td>
                    <a href="@Url.Action("Detail", "Sach", new {id = item.masach})">Chi tiết</a> |
                    @Html.ActionLink("Xóa", "XoaGiohang", new { @id = item.masach })
                </td>
                <td><input type="submit" value="Cập nhật" class="btn btn-success"></td>
            }
        </tr>
    }
    <tr style="font-weight: bold; text-align: left; color: red">
        <td colspan="2"> Số loại sách: @ViewBag.Tongsoluongsanpham</td>
        <td colspan="2"> Số lượng sách: @ViewBag.Tongsoluong</td>
        <td colspan="4"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
    </tr>
    <tr style="font-weight: bold; color: blue; text-align: right">
        <td colspan="5">
            @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight: bold; color: yellow; text-align: right">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "Dathang", "GioHang")
        </td>
    </tr>
</table>
